@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide arrows in number input (for webkit browsers like Chrome, Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Optional: Adding a custom border for better styling */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}
.disabled-form {
    pointer-events: none; /* Prevent interaction */
    opacity: 0.5; /* Dim the form */
}